<div id=conteneurpage>

   

  <div class="example-container" id=blocconnex>

    <h1>Connexion </h1>
    <br>

    <mat-form-field hintLabel="Max 6 characters">
      <input matInput #input maxlength="6" placeholder="Saisir UID" [(ngModel)]="uid">
      <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
    </mat-form-field>
    <br>
  

    <mat-form-field>
      <input type="password" matInput placeholder="Saisir mdp annuaire" [(ngModel)]="mdp">
    </mat-form-field>


    <br>
    <button mat-stroked-button class="button" (click)="verifHabil()">Se connecter </button>


    <br>
    <br>

    <p class="error"  *ngIf="messageError"  >{{messageError}}</p>

  </div>

  <div id=image>


    <img src="/assets/images/icon.jpg" height="220" width="260" />
    <br>
    <br>
    <h1>CREDIT HABITAT</h1>
  </div>


</div>