<div id="conteneur">

  <div id="menupage">
    <form>
      <div class="titrechamps">Société</div>
      <mat-form-field class="champs">
        <mat-select [(ngModel)]="selectedSoc" name="soc" (selectionChange)="changeBoxes()">
          <mat-option *ngFor="let soc of listSoc" [value]="soc">
            {{soc}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <form>
      <div class="titrechamps">Année</div>
      <mat-form-field class="champs">
        <mat-select [(ngModel)]="selectedAn" name="an" (selectionChange)="changeBoxes()">
          <mat-option *ngFor="let an of listAn" [value]="an">
            {{an}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <form>
      <div class="titrechamps"> Trimestre</div>
      <mat-form-field class="champs" >
        <mat-select  [(ngModel)]="selectedTrim" name="trim" (selectionChange)="changeBoxes()">
          <mat-option  *ngFor="let trim of listTrim" [value]="trim">
            {{trim}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <div> {{totalOfSelecting}}</div>

    <button mat-icon-button   (click)="openDialog()">
        <mat-icon 
            aria-label="save"  
            [style.color]="'blue'"
            >
        thumb_up</mat-icon>
      </button>

  </div>

  <div id="bodypage">
    <div id="leftbody">
    </div>
    <div id="listebody">
      <ng2-smart-table 
        [settings]="settings" 
        [source]="source">
      </ng2-smart-table>
    </div>
    <div id="rightbody">

    </div>
  </div>



</div>