p
{
     font-family: cursive;
     display: flex;	
    flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 400px; 
         color: black;
        background-color: white;
        
 }